<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prácticas</title>
</head>
<body>
    <h1>Prácticas</h1>
    <ul>
        <li><a href="/practica1">Práctica 1</a></li>
        <li><a href="/practica2">Práctica 2</a></li>
        <li><a href="/practica3">Práctica 3</a></li>
    </ul>
</body>
</html>